* {
  /* border: 2px solid red; */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

input {
  height: 75px;
  width: 600px;
  font-size: 48px;
}

h1 {
  font-size: 96px;
}

select {
  width: 200px;
  height: 75px;
  font-size: 48px;
}

.appContainer {
  border: 5px solid black;
  padding: 2rem;
}

.currencyRowContainer {
  display: flex;
  gap: 5rem;
}

.currencyContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}